@import "variables";
.pieds {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: green;
    display: flex;
    justify-content: space-between;
    color: yellow;
    .mentions {
        display: flex;
    }
    .contact {
        display: flex;
    }
}