@import "variables";
.pieds {
    font-family: sinkin_sans100_thin, sinkin_sans200_x_light, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $color-menu1;
    display: flex;
    justify-content: space-between;
    color: $color-font;
    .mentions {
        display: flex;
        padding: 10px 30px 10px 30px;
        a {
            text-decoration: none;
            color: $color-font;
            margin: 0 0 0 0;
        }
    }
    .contact {
        display: flex;
        padding: 10px 30px 10px 30px;
        margin: 0 0 0 0;
        a {
            text-decoration: none;
            color: $color-font;
        }
    }
}