@import "variables";
.titre {
    width: 100%;
    display: flex;
    align-content: space-around;
    background-color: $color_menu1;
    margin: 0;
    display: inline-block;
    font-size: 30px;
    color: yellow;
    text-align: center;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    h1 {
        color: $color-font;
        margin: 0 0 0 0;
    }
    a {
        text-decoration: none;
    }
    @media screen and (min-width: 768px) {
        font-size: 45px;
    }
}