@import "variables";
.titre {
    h1 {
        color: $color-font;
    }
    width: 100%;
    display: flex;
    align-content: space-around;
    background-color: $color_menu1;
    margin: 0;
    display: inline-block;
    font-size: 45px;
    color: yellow;
    text-align: center;
}