@font-face {
    font-family: 'perspective_sans_blackregular';
    src: url('fonts/persanbk-webfont.eot');
    src: url('fonts/persanbk-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/persanbk-webfont.woff2') format('woff2'), url('fonts/persanbk-webfont.woff') format('woff'), url('fonts/persanbk-webfont.ttf') format('truetype'), url('fonts/persanbk-webfont.svg#perspective_sans_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('fonts/SinkinSans-200XLight-webfont.eot');
    src: url('fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SinkinSans-200XLight-webfont.woff2') format('woff2'), url('fonts/SinkinSans-200XLight-webfont.woff') format('woff'), url('fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'), url('fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('fonts/SinkinSans-100Thin-webfont.eot');
    src: url('fonts/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SinkinSans-100Thin-webfont.woff2') format('woff2'), url('fonts/SinkinSans-100Thin-webfont.woff') format('woff'), url('fonts/SinkinSans-100Thin-webfont.ttf') format('truetype'), url('fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$color-menu1: #579c87;
$color-font: #fdcd46;
$color_menu_1: #3D1319;
$color_fond_1: #FDE0DC;

/* background: linear-gradient(#F04C5F, #F6916A); */

$color-menu_2: #FFF5FE;
$color_menu_22: #B55AA2;
$color_menu_23: #6E4CCC;

/* background: linear-gradient(#8F5AFF, #F9B09A); */

$color_fond_3: #EDEFEF;

/* background: linear-gradient(#0022DB, #0889FB); */

$color_menu_4: #72BF56;
$color_fond_4: #FDFFFD;

/* background: linear-gradient(#479C40, #BEFF7F); */