@font-face {
    font-family: 'perspective_sans_blackregular';
    src: url('fonts/persanbk-webfont.eot');
    src: url('fonts/persanbk-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/persanbk-webfont.woff2') format('woff2'), url('fonts/persanbk-webfont.woff') format('woff'), url('fonts/persanbk-webfont.ttf') format('truetype'), url('fonts/persanbk-webfont.svg#perspective_sans_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans200_x_light';
    src: url('fonts/SinkinSans-200XLight-webfont.eot');
    src: url('fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SinkinSans-200XLight-webfont.woff2') format('woff2'), url('fonts/SinkinSans-200XLight-webfont.woff') format('woff'), url('fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'), url('fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sinkin_sans100_thin';
    src: url('fonts/SinkinSans-100Thin-webfont.eot');
    src: url('fonts/SinkinSans-100Thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/SinkinSans-100Thin-webfont.woff2') format('woff2'), url('fonts/SinkinSans-100Thin-webfont.woff') format('woff'), url('fonts/SinkinSans-100Thin-webfont.ttf') format('truetype'), url('fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

$color-menu1: #579c87;
$color-font: #fdcd46;
$color_menu_1: #3D1319;
$color_fond_1: #FDE0DC;
@mixin gradient_menu1 {
    background: linear-gradient(#F04C5F, #F6916A);
}


/* Gradient couleur du menu 1 ensemble des couluers dédié au menu 1*/

$color-menu_2: #FFF5FE;
$color_menu_22: #B55AA2;
$color_menu_23: #6E4CCC;
$color_menu_24:#C77412;
@mixin gradient_menu2 {
    background: linear-gradient(to right, #8F5AFF 0%, #F9B09A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* MIxin et couleur pour le menu 2 internes et externe*/

$color_fond_3: #EDEFEF;
@mixin gradient_menu3 {
    background: linear-gradient(90deg, #0022DB, #0889FB);
}


/* COuleur et mixin pour le menu 3  */

$color_menu_4: #72BF56;
$color_fond_4: #FDFFFD;
@mixin gradient_menu4 {
    background: linear-gradient(#479C40, #BEFF7F);
}


/*mixins et couleur pour menu 4 */