    @import "header";
    @import "footer";
    @import "variables";
    body {
        margin: 0 0 0 0;
        font-family: perspective_sans_blackregular, Arial, Helvetica, sans-serif;
    }
    
    .menus {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 120px;
        justify-content: center;
        align-items: center;
        .new {
            display: flex;
            color: $color-font;
            background-color: $color-menu1;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            padding: 10px 10px 10px 10px;
            margin-top: 20px;
            h3 {
                margin: 0 0 0 0;
                font-size: 30px;
            }
        }
        .ligne {
            display: flex;
            justify-content: center;
            .menu--first {
                background-color: $color_fond_1;
                .note {
                    transform: scale(0.6);
                    margin: auto;
                }
                p {
                    color: $color_menu_1;
                    font-family: 'devonshireregular';
                    font-size: 25px;
                }
                .menu1 {
                    font-family: 'flow_extbold';
                    font-weight: bolder;
                    font-size: 30px;
                }
            }
            .menu--second {
                background-color: $color_menu_2;
                ;
                p {
                    @include gradient_menu2;
                    font-family: 'croissant_oneregular';
                    font-size: 17px;
                }
                .menu2 {
                    color: $color_menu_24;
                }
            }
            .menu--third {
                background-color: $color_fond_3;
                p {
                    @include gradient_menu3;
                }
                .menu3 {
                    color: $color_font_3;
                }
            }
            .menu--fourth {
                background-color: $color_fond_4;
                p {
                    @include gradient_menu4;
                }
                .menu4 {
                    color: $color_menu_4;
                }
            }
            .menu {
                display: flex;
                justify-content: center;
                width: 400px;
                height: 30em;
                /*background-color: $color_fond_1;*/
                box-shadow: 1px 1px 12px grey;
                margin: 10px 40px 10px 40px;
                padding-bottom: 10px;
                a {
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .menu1 {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                        color: $color-menu_1;
                        background-color: $color_fond_1;
                    }
                    .menu2 {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                    }
                    .menu3 {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                    }
                    .menu4 {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                    }
                    P {
                        display: flex;
                        width: 50%;
                        justify-content: center;
                        ;
                    }
                }
            }
        }
    }
    
    .titre__menu {
        display: flex;
        justify-content: center;
    }
    
    .parti_menu {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin: auto;
        .barrtitre {
            justify-content: space-evenly;
            display: flex;
            min-width: 0;
            min-height: 0;
            .barre {
                display: block;
                max-height: 6px;
                margin-top: 30px;
            }
        }
        /*barretitre1*/
        h2 {
            display: flex;
            justify-content: center;
        }
        p {
            margin: 1em 1em 0 1em;
            display: flex;
            justify-content: space-between;
        }
    }
    
    .container {
        width: 50%;
        margin: 40px auto 100px auto;
        background-color: $color-fond_1;
        max-width: 800px;
    }
    
    .parti_menu--dessert {
        padding-bottom: 125px;
    }
    
    .notetitre {
        margin: auto;
        display: block;
        transform: scale(0.7);
    }
    
    .platprix {
        display: flex;
        justify-content: space-between;
        .nom_plat {
            display: flex;
            width: 100%;
            p {
                margin: 1em 1em 0 1em;
                width: 80%;
            }
        }
        .prix {
            display: flex;
            margin-top: 1em;
            min-width: 10%;
        }
    }
    /* DEVELOPPEMENT MOBILE*/
    
    @media screen and (max-width: 768px) {
        .container {
            width: 90%;
            margin: auto;
        }
        .menus {
            .ligne {
                flex-wrap: wrap;
            }
        }
        .menu {
            width: 300px;
        }
    }
    /*  .menus {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 100px;
            padding-bottom: 120px;
            justify-content: center;
            align-items: center;
            .new {
                display: flex;
                color: $color-font;
                background-color: $color-menu1;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                padding: 10px;
                h3 {
                    margin: 0 0 0 0;
                }
            }
            .ligne {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0px 0px 0px 0px;
                .menu {
                    display: flex;
                    justify-content: center;
                    width: 25em;
                    height: 30em;
                    background-color: lightgray;
                    box-shadow: 10px 5px 5px grey;
                    margin: 10px 40px 20px 40px;
                    max-width: 300px;
                    a {
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        color: black;
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        .menu1 {
                            display: flex;
                            width: 50%;
                            justify-content: center;
                        }
                        .menu2 {
                            display: flex;
                            width: 50%;
                            justify-content: center;
                        }
                        .menu3 {
                            display: flex;
                            width: 50%;
                            justify-content: center;
                        }
                        .menu4 {
                            display: flex;
                            width: 50%;
                            justify-content: center;
                        }
                        P {
                            display: flex;
                            width: 50%;
                            justify-content: center;
                            ;
                        }
                    }
                }
            }
        }
    }*/