@charset "UTF-8";
@font-face {
  font-family: "croissant_oneregular";
  src: url("fonts/croissantone-regular-webfont.woff2") format("woff2"), url("fonts/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extregular";
  src: url("fonts/flow/flow-webfont.woff2") format("woff2"), url("fonts/flow/flow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("fonts/flow/flow_b-webfont.woff2") format("woff2"), url("fonts/flow/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("fonts/devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Gradient couleur du menu 1 ensemble des couluers dédié au menu 1*/
/* MIxin et couleur pour le menu 2 internes et externe*/
/* COuleur et mixin pour le menu 3  */
/*mixins et couleur pour menu 4 */
/* mixin animation*/
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.titre {
  width: 100%;
  display: flex;
  align-content: space-around;
  background-color: #579c87;
  margin: 0;
  display: inline-block;
  font-size: 30px;
  color: yellow;
  text-align: center;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}
.titre h1 {
  color: #fdcd46;
  margin: 0 0 0 0;
}
.titre a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .titre {
    font-size: 45px;
  }
}

@font-face {
  font-family: "croissant_oneregular";
  src: url("fonts/croissantone-regular-webfont.woff2") format("woff2"), url("fonts/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extregular";
  src: url("fonts/flow/flow-webfont.woff2") format("woff2"), url("fonts/flow/flow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("fonts/flow/flow_b-webfont.woff2") format("woff2"), url("fonts/flow/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("fonts/devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Gradient couleur du menu 1 ensemble des couluers dédié au menu 1*/
/* MIxin et couleur pour le menu 2 internes et externe*/
/* COuleur et mixin pour le menu 3  */
/*mixins et couleur pour menu 4 */
/* mixin animation*/
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
.pieds {
  font-family: sinkin_sans100_thin, sinkin_sans200_x_light, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #579c87;
  display: flex;
  justify-content: space-between;
  color: #fdcd46;
  box-sizing: border-box;
  align-items: center;
}
.pieds .mentions {
  display: flex;
  padding: 10px 30px 10px 30px;
}
.pieds .mentions :hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 5;
}
.pieds .mentions a {
  text-decoration: none;
  color: #fdcd46;
  margin: 0 0 0 0;
}
.pieds .contact {
  display: flex;
  padding: 10px 30px 10px 30px;
  margin: 0 0 0 0;
}
.pieds .contact :hover {
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 5;
}
.pieds .contact a {
  text-decoration: none;
  color: #fdcd46;
}

@font-face {
  font-family: "croissant_oneregular";
  src: url("fonts/croissantone-regular-webfont.woff2") format("woff2"), url("fonts/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extregular";
  src: url("fonts/flow/flow-webfont.woff2") format("woff2"), url("fonts/flow/flow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "flow_extbold";
  src: url("fonts/flow/flow_b-webfont.woff2") format("woff2"), url("fonts/flow/flow_b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devonshireregular";
  src: url("fonts/devonshire/devonshire-regular-webfont.woff2") format("woff2"), url("fonts/devonshire/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Gradient couleur du menu 1 ensemble des couluers dédié au menu 1*/
/* MIxin et couleur pour le menu 2 internes et externe*/
/* COuleur et mixin pour le menu 3  */
/*mixins et couleur pour menu 4 */
/* mixin animation*/
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}
body {
  margin: 0 0 0 0;
  font-family: perspective_sans_blackregular, Arial, Helvetica, sans-serif;
}

.menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 120px;
  justify-content: center;
  align-items: center;
}
.menus .new {
  display: flex;
  color: #fdcd46;
  background-color: #579c87;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
.menus .new h3 {
  margin: 0 0 0 0;
  font-size: 30px;
}
.menus .ligne {
  display: flex;
  justify-content: center;
}
.menus .ligne .menu--first {
  background-color: #FDE0DC;
}
.menus .ligne .menu--first .note {
  transform: scale(0.6);
  margin: 0 auto 0 auto;
}
.menus .ligne .menu--first p {
  color: #3D1319;
  font-family: "devonshireregular";
  font-size: 25px;
}
.menus .ligne .menu--first .menu1 {
  font-family: "flow_extbold";
  font-weight: bolder;
  font-size: 30px;
}
.menus .ligne .menu--second {
  background-color: #FFF5FE;
}
.menus .ligne .menu--second p {
  background: linear-gradient(to left, #8F5AFF 0%, #C77412 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "croissant_oneregular";
  font-size: 17px;
}
.menus .ligne .menu--second .menu2 {
  color: #C77412;
}
.menus .ligne .menu--third {
  background-color: #EDEFEF;
}
.menus .ligne .menu--third p {
  background: linear-gradient(to right, #0022DB 0%, #0889FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .ligne .menu--third .menu3 {
  color: #0889FB;
}
.menus .ligne .menu--fourth {
  background-color: #fbfffb;
}
.menus .ligne .menu--fourth p {
  background: linear-gradient(to right, #479C40 0%, #BEFF7F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus .ligne .menu--fourth .menu4 {
  color: #72BF56;
}
.menus .ligne .menu {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 30em;
  /*background-color: $color_fond_1;*/
  box-shadow: 1px 1px 12px grey;
  margin: 10px 40px 10px 40px;
  padding-bottom: 10px;
}
.menus .ligne .menu :hover {
  transform: scale(1.25);
  transition: transform 330ms ease-in-out;
}
.menus .ligne .menu a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menus .ligne .menu a .menu1 {
  display: flex;
  width: 50%;
  justify-content: center;
  color: #3D1319;
  background-color: #FDE0DC;
}
.menus .ligne .menu a .menu2 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a .menu3 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a .menu4 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a P {
  display: flex;
  width: 50%;
  justify-content: center;
}

.titre__menu {
  display: flex;
  justify-content: center;
}

.parti_menu {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}
.parti_menu .barrtitre {
  justify-content: space-evenly;
  display: flex;
  min-width: 0;
  min-height: 0;
}
.parti_menu .barrtitre .barre {
  display: block;
  max-height: 6px;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
}
.parti_menu h2 {
  display: flex;
  justify-content: center;
}
.parti_menu p {
  margin: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 50%;
  padding-bottom: 70px;
  margin: 40px auto 160px auto;
  max-width: 700px;
  min-height: 800px;
}

.container--menu1 {
  background-color: #FDE0DC;
}

.container--menu2 {
  background-color: #FFF5FE;
}

.container--menu3 {
  background-color: #EDEFEF;
}

.container--menu4 {
  background-color: #fbfffb;
}

.parti_menu--dessert {
  padding-bottom: 10px;
}

.notetitre {
  margin: auto;
  display: block;
  transform: scale(0.7);
}

.pieds--menu {
  display: flex;
  align-items: center;
}
.pieds--menu .notetitre2 {
  margin: 20px 5px 20px auto;
  display: block;
  transform: scale(0.5);
}
.pieds--menu .titre__menu2 {
  margin: 20px auto 20px 5px;
}

.platprix {
  display: flex;
  justify-content: space-between;
}
.platprix .nom_plat {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.platprix .nom_plat p {
  margin: 1em 1em 0 1em;
  width: 80%;
}
.platprix .prix {
  display: flex;
  margin-top: 1em;
  min-width: 50px;
}

/* DEVELOPPEMENT MOBILE*/
@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    margin: auto;
  }

  .menus .ligne {
    flex-wrap: wrap;
  }

  .menu {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
