@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* background: linear-gradient(#F04C5F, #F6916A); */
/* background: linear-gradient(#8F5AFF, #F9B09A); */
/* background: linear-gradient(#0022DB, #0889FB); */
/* background: linear-gradient(#479C40, #BEFF7F); */
.titre {
  width: 100%;
  display: flex;
  align-content: space-around;
  background-color: #579c87;
  margin: 0;
  display: inline-block;
  font-size: 30px;
  color: yellow;
  text-align: center;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
}
.titre h1 {
  color: #fdcd46;
  margin: 0 0 0 0;
}
.titre a {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .titre {
    font-size: 45px;
  }
}

@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* background: linear-gradient(#F04C5F, #F6916A); */
/* background: linear-gradient(#8F5AFF, #F9B09A); */
/* background: linear-gradient(#0022DB, #0889FB); */
/* background: linear-gradient(#479C40, #BEFF7F); */
.pieds {
  font-family: sinkin_sans100_thin, sinkin_sans200_x_light, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #579c87;
  display: flex;
  justify-content: space-between;
  color: #fdcd46;
}
.pieds .mentions {
  display: flex;
  padding: 10px 30px 10px 30px;
}
.pieds .mentions a {
  text-decoration: none;
  color: #fdcd46;
  margin: 0 0 0 0;
}
.pieds .contact {
  display: flex;
  padding: 10px 30px 10px 30px;
  margin: 0 0 0 0;
}
.pieds .contact a {
  text-decoration: none;
  color: #fdcd46;
}

@font-face {
  font-family: "perspective_sans_blackregular";
  src: url("fonts/persanbk-webfont.eot");
  src: url("fonts/persanbk-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/persanbk-webfont.woff2") format("woff2"), url("fonts/persanbk-webfont.woff") format("woff"), url("fonts/persanbk-webfont.ttf") format("truetype"), url("fonts/persanbk-webfont.svg#perspective_sans_blackregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans200_x_light";
  src: url("fonts/SinkinSans-200XLight-webfont.eot");
  src: url("fonts/SinkinSans-200XLight-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-200XLight-webfont.woff2") format("woff2"), url("fonts/SinkinSans-200XLight-webfont.woff") format("woff"), url("fonts/SinkinSans-200XLight-webfont.ttf") format("truetype"), url("fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sinkin_sans100_thin";
  src: url("fonts/SinkinSans-100Thin-webfont.eot");
  src: url("fonts/SinkinSans-100Thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SinkinSans-100Thin-webfont.woff2") format("woff2"), url("fonts/SinkinSans-100Thin-webfont.woff") format("woff"), url("fonts/SinkinSans-100Thin-webfont.ttf") format("truetype"), url("fonts/SinkinSans-100Thin-webfont.svg#sinkin_sans100_thin") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* background: linear-gradient(#F04C5F, #F6916A); */
/* background: linear-gradient(#8F5AFF, #F9B09A); */
/* background: linear-gradient(#0022DB, #0889FB); */
/* background: linear-gradient(#479C40, #BEFF7F); */
body {
  margin: 0 0 0 0;
  font-family: perspective_sans_blackregular, Arial, Helvetica, sans-serif;
}

.menus {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 120px;
  justify-content: center;
  align-items: center;
}
.menus .new {
  display: flex;
  color: #fdcd46;
  background-color: #579c87;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
  margin-top: 20px;
}
.menus .new h3 {
  margin: 0 0 0 0;
  font-size: 30px;
}
.menus .ligne {
  display: flex;
  justify-content: center;
}
.menus .ligne .menu {
  display: flex;
  justify-content: center;
  width: 25em;
  height: 30em;
  background-color: lightgray;
  box-shadow: 10px 5px 5px grey;
  margin: 10px 40px 10px 40px;
  padding-bottom: 10px;
}
.menus .ligne .menu a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.menus .ligne .menu a .menu1 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a .menu2 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a .menu3 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a .menu4 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.menus .ligne .menu a P {
  display: flex;
  width: 50%;
  justify-content: center;
}

.titre__menu {
  display: flex;
  justify-content: center;
}

.parti_menu {
  width: 40em;
  display: flex;
  flex-direction: column;
}
.parti_menu h2 {
  display: flex;
  justify-content: center;
}
.parti_menu p {
  margin: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

._dessert {
  margin-bottom: 125px;
}

.platprix {
  display: flex;
  justify-content: space-between;
}
.platprix .nom_plat {
  display: flex;
}
.platprix .nom_plat p {
  margin: 1em 1em 0 1em;
}
.platprix .prix {
  display: flex;
  margin-top: 1em;
}

@media screen and (max-width: 1024px) {
  .menus {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
  }
  .menus .new {
    display: flex;
    color: #fdcd46;
    background-color: #579c87;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
  }
  .menus .new h3 {
    margin: 0 0 0 0;
  }
  .menus .ligne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
  }
  .menus .ligne .menu {
    display: flex;
    justify-content: center;
    width: 25em;
    height: 30em;
    background-color: lightgray;
    box-shadow: 10px 5px 5px grey;
    margin: 10px 40px 20px 40px;
    max-width: 300px;
  }
  .menus .ligne .menu a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .menus .ligne .menu a .menu1 {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .menus .ligne .menu a .menu2 {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .menus .ligne .menu a .menu3 {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .menus .ligne .menu a .menu4 {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  .menus .ligne .menu a P {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
